@model TaxTime4.Models.Appointment

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Appointment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LastAppt)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastAppt)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NextAppt)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NextAppt)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastUpdated)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastUpdated)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CustId">Edit</a> |
    <a asp-controller="Customers" asp-action="AdminList">Administrator Customer List</a> |
    <a asp-controller="Customers" asp-action="AdminDetails" asp-route-id="@Model.CustId">Administrator Customer Info</a>

</div>
