@model IEnumerable<TaxTime4.Models.Appointment>

@{
    ViewData["Title"] = "ColdCall";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Cold Call List</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cust.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cust.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastAppt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NextAppt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastUpdated)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelitem => item.Cust.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelitem => item.Cust.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastAppt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NextAppt)
                </td>
                <td>
                    <a asp-controller="Contacts" asp-action="Details" asp-route-id="@item.CustId">Contacts</a> |
                    <a asp-action="Edit" asp-route-id="@item.CustId">New Appointment</a>
                </td>
            </tr>
        }
    </tbody>
</table>
