@model IEnumerable<TaxTime4.Models.Dependent>

@{
    ViewData["Title"] = "AdminDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Administrator Dependents List</h2>

<form asp-controller="Dependents" asp-action="Index" hidden>
    <p>
        CustId: <input type="number" value="@Model" name="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ssn1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ssn2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ssn3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastUpdated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cust)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ssn1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ssn2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ssn3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastUpdated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cust.FirstName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DepId">Edit</a> |
                <a asp-controller="Customers" asp-action="AdminDetails" asp-route-id="@item.CustId">Administrator Customer Info</a> |
                <a asp-action="Delete" asp-route-id="@item.DepId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
