@model TaxTime4.Models.Customer
@{
    ViewData["Title"] = "AdminDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Administrator's Customer Information</h2>

<div>
    <h4>@Model.FirstName @Model.LastName</h4>
    <hr />

    <dl class="dl-horizontal">
        <dt hidden>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd hidden>
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt hidden>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd hidden>
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ssn1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ssn1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ssn2)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ssn2)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ssn3)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ssn3)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastUpdated)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastUpdated)
        </dd>
    </dl>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.CustId">Edit</a>
        <a hidden asp-controller="Delete" asp-action="DeleteAll" asp-route-id="@Model.CustId">Delete</a>
        <p hidden id="note">(Please make sure all other information is deleted first.)</p>
    </div>

    <div>
        <h4>Address</h4>
        <a asp-controller="Addresses" asp-action="AdminDetails" asp-route-id="@Model.CustId">Details</a>
        <a hidden asp-controller="Addresses" asp-action="Delete" asp-route-id="@Model.CustId">Delete</a>
    </div>

    <div>
        <h4>Contact Information</h4>
        <a asp-controller="Contacts" asp-action="AdminDetails" asp-route-id="@Model.CustId">Details</a>
        <a hidden asp-controller="Contacts" asp-action="Delete" asp-route-id="@Model.CustId">Delete</a>
    </div>
    
    <div>
        <h4>Dependents</h4>
        <a asp-controller="Dependents" asp-action="AdminDetails" asp-route-id="@Model.CustId">Details</a>
    </div>

    <div>
        <h4>Direct Deposit Information</h4>
        <a asp-controller="Deposits" asp-action="AdminDetails" asp-route-id="@Model.CustId">Details</a>
        <a hidden asp-controller="Deposits" asp-action="Delete" asp-route-id="@Model.CustId">Delete</a>
    </div>

    <div>
        <h4>Appointment</h4>
        <a asp-controller="Appointments" asp-action="AdminDetails" asp-route-id="@Model.CustId">Details</a>
        <a hidden asp-controller="Appointments" asp-action="Delete" asp-route-id="@Model.CustId">Delete</a>
    </div>
    </div>
<div> 
    <a asp-action="AdminList">Administrator's List</a>
</div>


